<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Messages</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

    
    <%- include('partials/sidebar') %>

    
    <div class="container mt-5">
        <h2>Messages</h2>
        <div class="list-group">
            <p>Your Friends</p>
            <% followingUsers.forEach(user => { 
                const unreadMessagesCount = unreadMessages.filter(msg => msg.senderId.toString() === user._id.toString()).length;
            %>
                <a href="/messages/chat/<%= user._id %>" class="list-group-item list-group-item-action d-flex align-items-center">
                    <img src="/uploads/<%= user.profilePicture %>" alt="Profile" class="rounded-circle" width="40" height="40">
                    <span class="ms-3"><%= user.fullName %></span>
                    <% if (unreadMessagesCount > 0) { %>
                        <span class="badge bg-danger ms-auto">New</span> 
                    <% } %>
                </a>
            <% }); %>
    
            <p>Your Followers</p>
            <% followersUsers.forEach(user => { 
                const unreadMessagesCount = unreadMessages.filter(msg => msg.senderId.toString() === user._id.toString()).length;
            %>
                <a href="/messages/chat/<%= user._id %>" class="list-group-item list-group-item-action d-flex align-items-center">
                    <img src="/uploads/<%= user.profilePicture %>" alt="Profile" class="rounded-circle" width="40" height="40">
                    <span class="ms-3"><%= user.fullName %></span>
                    <% if (unreadMessagesCount > 0) { %>
                        <span class="badge bg-danger ms-auto">New</span>  <!-- Notification for unread message -->
                    <% } %>
                </a>
            <% }); %>
        </div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    </body>
    </html>
    